# Find the path where this model tree lives and set a state variable
CBP_ROOT=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

CBP_SRC="$CBP_ROOT/code/src"
CBP_BIN="$CBP_ROOT/run"
CBP_EXPORT_DIR='/media/model/p6/out'
CBP_RO_TEMPLATE="/opt/model/om/sh/cbp_p6_lseg_runoff_template.sql"

NLDAS_ROOT="/backup/meteorology"
MODEL_VERSION_CODE="cbp-6.0"
MODEL_FILES_GROUP="allmodelers"

export CBP_ROOT CBP_SRC CBP_BIN CBP_EXPORT_DIR CBP_RO_TEMPLATE HSP_VERSION NLDAS_ROOT MODEL_FILES_GROUP

