# Find the path where this model tree lives and set a state variable
CBP_ROOT=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

CBP_SRC="$CBP_ROOT/code/src"
CBP_BIN="$CBP_ROOT/run"
CBP_EXPORT_DIR="/media/model/p532"
CBP_RO_TEMPLATE="/opt/model/om/sh/cbp_p5_lseg_runoff_template"

export CBP_ROOT CBP_SRC CBP_BIN CBP_EXPORT_DIR CBP_RO_TEMPLATE
